<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">

		<title>Central Authentication Service</title>
	</head>
	<body style="font-family: 'Open Sans'; -webkit-font-smoothing: antialiased;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 style="font-weight: 300;">{{ .Config.Title }}</h1>
				</div>
			</div>

			{{ if .Message.Type }}
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-{{ .Message.Type }}" role="alert">
		  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  			{{ .Message.Message }}
					</div>
				</div>
			</div>
			{{ end }}

			<div class="row">
				<div class="col-md-12">
					{{ if .Session.Username }}
					<div class="alert alert-success" role="alert">
		  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						SSO session open for user <i>{{ .Session.Username }}</i>. <a href="{{ .Config.UrlPrefix }}/logout">Logout</a>
					</div>
					{{ else if eq .ShowForm true }}
					<div class="panel panel-primary">
						{{ if .Session.Service }}
						<div class="panel-heading">Please authenticate into service <b>{{ .Session.Service }}</b>:</div>
						{{ else }}
						<div class="panel-heading">Please authenticate into SSO:</div>
						{{ end }}

	  				<div class="panel-body">
			  			<form action="" method="POST">
								<div class="form-group">
									<p>
										<label for="username">Username:</label>
										<input name="username" id="username" class="form-control" autofocus />
									</p>

									<p>
										<label for="password">Password:</label>
										<input type="password" name="password" id="password" class="form-control" />
									</p>

									<p>
										<button type="submit" class="btn btn-default">Authenticate</button>
									</p>

									<input type="hidden" name="lt" value="{{ .Session.Ticket }}" />
									<input type="hidden" name="service" value="{{ .Session.Service }}" />
								</div>
							</form>
						</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</body>
</html>