<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<title>Central Authentication Service</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>GoCAS - Single Sign-On</h1>
				</div>
			</div>

			<div class="panel panel-danger">
  			<div class="panel-heading">Service throttling triggered</div>
  			<div class="panel-body">
    			<p>Too many failed authentication attempts have been attempted from your IP address and/or your username.</p>
    			<p>Plese try again later.</p>
  			</div>
			</div>
		</div>
	</body>
</html>