<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/static/default.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
		
		<title>Central Authentication Service</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>GoCAS - Single Sign-On</h1>
				</div>
			</div>

			<div class="panel panel-default">
  			<div class="panel-heading">Service authentication notification</div>
  			<div class="panel-body">
    			<p>You are about to be authenticated into <b>{{ .Session.Service }}</b> as user <i>{{ .Session.Username }}</i>.</p>
    			<p><a href="{{ .Session.Url }}" class="btn btn-primary" role="button">Continue</a></p>
  			</div>
			</div>
		</div>
	</body>
</html>