---
title: GoCAS - Single Sign-On
url_prefix: /cas
rest_api: false
# trust_authentication: never | on-gateway | always
trust_authentication: never

mongo:
  host: 172.17.0.1

services:
  - http://127.0.0.1.xip.io:5000

ticket_validity:
  login_ticket: 120
  ticket_granting_ticket: 3600
  service_ticket: 30

protocol: cas
# protocol: oauth
authenticator: dummy
# authenticator: ldap

ldap:
	host: ldap://127.0.0.1
	base: ou=Users,dc=domain,dc=tld
	dn: uid

oauth:
	clientid: XXX
	secret: XXX
	auth_url: https://accounts.google.com/o/oauth2/auth
	token_url: https://accounts.google.com/o/oauth2/token
	redirect_url: http://localhost:8080/cas/callback
	scopes:
		- https://www.googleapis.com/auth/userinfo.profile
	# Should return a JSON hash with a name key
	userinfo_url: https://www.googleapis.com/oauth2/v1/userinfo?alt=json